<div class="footer">
    <div class="footer_head">
        <p (click)="scrollToTop()" >Back To Top</p>
    </div>
    <div class="footer_mid">
        <div class="get_to_know_us">
            <div class="footer_mid_head">Get to Know Us</div>
            <div> About Us</div>
            <div> Careers</div>
            <div>Press Releases</div>
            <div>Amazon Cares</div>
            <div>Gift a Smile</div>
        </div>
        <div class="connect_with_us">
            <div class="footer_mid_head">Connect with Us</div>
            <div>Facebook</div>
            <div>Twitter</div>
            <div>Instagram</div>
        </div>
        <div class="make_money_with_us">
            <div class="footer_mid_head">Make Money with Us</div>
            <div>Sell on Amazon</div>
            <div>Sell under Amazon Accelerator</div>
            <div>Become an Affiliate</div>
            <div>Fulfilment by Amazon</div>
            <div>Advertise Your Products</div>
            <div>Amazon Pay on Merchants</div>
            <div>See More Make Money with Us</div>
        </div>
        <div class="let_us_help_you">
            <div class="footer_mid_head">Let Us Help You</div>
            <div>COVID-19 and Amazon</div>
            <div>Your Account</div>
            <div>Returns Centre</div>
            <div>100% Purchase Protection</div>
            <div>Amazon App Download</div>
            <div>Amazon Assistant Download</div>
            <div>Help</div>
        </div>
    </div>
    <div class="footer_bottom_main">
        <div class="footer_bottom">
            <img class="footer_logo" src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" alt="Amazon_Logo">
            <div class="footer_bottom_lang">
                <p>English</p>
            </div>
        </div>
        <div class="footer_bottom_all_lang">
            <p>Australia</p>
            <p>Brazil</p>
            <p>Canada</p>
            <p>China</p>
            <p>France</p>
            <p>Germany</p>
            <p>Italy</p>
            <p>Japan</p>
            <p>Mexico</p>
            <p>Netherlands</p>
            <p>Singapore</p>
            <p>Spain</p>
            <p>United Arab Emirates</p>
            <p>United Kingdom</p>
            <p>United States</p>
        </div>
    
    </div>
</div>